#app,
#game,
#load,
#panelSelectPlayer,
#result,
#winner,
#winner h1,
#winner #winner,
#loser,
#loser h1,
#loser #loser,
#battleZone,

.key
/* .key[id] */ {
  display: none;
}

:root {
  --loadWidth: 50%;
  --loadHeight: 100px;
  --loadColor: rgb(238, 38, 38);

  --loadFontSize: 20px;
  --loadLetterSpacing: 5px;
  --loadSpacing: 5px;
  --loadLevelWidth: 150px;
  --loadLevelHeight: 8px;
  --loadLevelColor1: rgb(12, 12, 184);
  --loadLevelColor2: rgb(238, 255, 0);
  --loadSpeed: 4s;

  --panelSelectPlayerW: 80%;
  --panelSelectPlayerH: 40%;
  --panelSelectPlayerBGC: #fff;
  
  --panelSelectPlayerTitleHeight:20%;
  --panelSelectPlayerTitleWidth:100%;
  --panelSelectPlayerTitleColor: #000;
  --panelSelectPlayerTitleFontSize: 32px;

  --selectPlayerWidth: 60%;
  --selectPlayerHeight: 80%;

  --characterWidth: 150px;
  --characterHeight: 100%;
  --characterScale: 0.85;

}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background-color: blueviolet;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: chartreuse;
}

/* #region load */

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#load {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--loadWidth);
  height: var(--loadHeight);
  background-color: var(--loadColor);
}

#load h1 {
  font-size: 20px;
  letter-spacing: var(--loadLetterSpacing);
}

#load #loadLevel {
  margin-top: var(--loadSpacing);
  width: var(--loadLevelWidth);
  height: var(--loadLevelHeight);
}

#load #loadLevel div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: var(--loadLevelColor1);
}

#load #loadLevel div:nth-child(2) {
  margin-top: calc(0px - var(--loadLevelHeight));
  width: 0%;
  height: 100%;
  background: var(--loadLevelColor2);
  animation: var(--loadSpeed) linear 0s infinite normal load;
}

/* #endregion load */

/* #region selectPlayer */

#panelSelectPlayer{
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--panelSelectPlayerW);
    height: var(--panelSelectPlayerH);
    border: 1px solid #000;
    background-color: var(--panelSelectPlayerBGC);
    overflow:hidden;
}

#panelSelectPlayerTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--panelSelectPlayerTitleWidth);
  height: var(--panelSelectPlayerTitleHeight);
  font-size: var(--panelSelectPlayerFont);
  /* background-color: rgb(12, 12, 184); */
}

#panelSelectPlayerTitle h1{
  color: var(--panelSelectPlayerTitleColor);
  font-size: var(--panelSelectPlayerTitleFontSize);
}

#selectPlayer{
  /* #panelSelectPlayer */
  /* background-color: rgb(238, 38, 38); */
  width: var(--selectPlayerWidth);
  height: var( --selectPlayerHeight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow:hidden;
}

#previous, #next{
  /* #panelSelectPlayer #selectPlayer */
  cursor: pointer;
}

 #characters{
  /* #panelSelectPlayer #selectPlayer */
  width: var(--characterWidth);
  height: var(--characterHeight);
  /* background-color:  rgb(238, 255, 0); */
  overflow:hidden;
}

#characters img{
  /* #panelSelectPlayer #selectPlayer */
  transform: scale(var(--characterScale));
  transition: all 0.5s ease;
}


/* #endregion selectPlayer */


/* #region battleZone */

#battleZone{
  /* #app #game */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30% ;
  grid-template-rows: 30% 10% 10% 50%;
}

#challenge{
  /* #battleZone */
  background-color: rgb(12, 12, 184);
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow:hidden;
  padding-bottom: 3px;
}

#challenge img{
  /* #battleZone */
  height: 90%;
}

#word{
  /* #battleZone */
  background-color: rgb(255, 251, 4);
  grid-column: 1/2;
  grid-row: 3/4;
}

#race{
  /* #battleZone */
  background-color: rgb(240, 4, 200);
  grid-column: 2/3;
  grid-row: 1/5;
}

#board{
  /* #battleZone */
  background-color: rgb(245, 7, 46);
  grid-column: 1/2;
  grid-row: 4/5;
}


/* #endregion battleZone */

/* #region board */

#board{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  font-size: 32px;
  font-weight: 700;
}

.keyWord{
  /* border: 1px solid #000; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  cursor: pointer;
}

/* #endregion board */


/* ------------------------------------------------------------------------- */

@media (max-width: 320px) {
  #game {
    /* #app */
    width: 320px;
    height: 600px;
  }
  #battleZone{
    /* #app #game */
    grid-template-columns: 100% ;
    grid-template-rows: 30% 10% 20% 40%;
  }

  #challenge{
    /* #battleZone */
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #word{
    /* #battleZone */
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #race{
    /* #battleZone */
    grid-column: 1/1;
    grid-row: 3/4;
  }

  #board{
    /* #battleZone */
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media (min-width: 650px) and (min-height: 620px) {
  #game {
    /* #app */
    width: 600px;
    height: 600px;
  }
  #battleZone{
    /* #app #game */
    grid-template-columns: 70% 30% ;
    grid-template-rows: 30% 10% 10% 50%;
  }

  #challenge{
    /* #battleZone */
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #word{
    /* #battleZone */
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #race{
    /* #battleZone */
    grid-column: 2/3;
    grid-row: 1/5;
  }

  #board{
    /* #battleZone */
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media (max-height: 320px){
  #game {
    /* #app */
    width: 600px;
    height: 320px;
  }
  #battleZone{
    /* #app #game */
    grid-template-columns: 70% 30% ;
    grid-template-rows: 20% 40% 10% 30%;
  }

  #board{
    font-size: 15px;
    font-weight: 700;
  }
}
