:root {
  --breakPoint: 0;

  --loadWidth: 50%;
  --loadHeight: 100px;
  --loadColor: rgb(238, 38, 38);

  --loadFontSize: 20px;
  --loadLetterSpacing: 5px;
  --loadSpacing: 5px;
  --loadLevelWidth: 150px;
  --loadLevelHeight: 8px;
  --loadLevelColor1: rgb(12, 12, 184);
  --loadLevelColor2: rgb(238, 255, 0);
  --loadSpeed: 4000ms;

  --panelSelectPlayerWidth: 80%;
  --panelSelectPlayerHeight: 40%;
  --panelSelectPlayerBorderColor: #000;
  --panelSelectPlayerBGC: #fff;

  --panelSelectPlayerTitleHeight: 20%;
  --panelSelectPlayerTitleWidth: 100%;
  --panelSelectPlayerTitleColor: #000;
  --panelSelectPlayerTitleFontSize: 32px;

  --panelSelectPlayerFontOK: 70px;

  --selectPlayerWidth: 60%;
  --selectPlayerHeight: 80%;

  --previousNextFontSize: 50px;

  --paddingBottomChalenge: 3px;

  --challengeHeight: 98%;

  --racerOneTop: 85%;
  --racerOneWidth: 85px;
  --racerOneHeight: 90px;
  --racerOneX: -335px;
  --racerOneY: -68px;

  --racerTwoTop: 85%;
  --racerTwoWidth: 65px;
  --racerTwoHeight: 90px;
  --racerTwoX: -317px;
  --racerTwoY: -80px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#basicProtection {
  z-index: 98;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: no-drop;
}

/* #region message */

#message {
  z-index: 100;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 15px;
  background-color: rgb(255, 0, 0);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

#message :nth-child(1) {
  display: none;
  font-size: 20px;
}

#message :nth-child(2) {
  display: none;
  margin-top: 2px;
  font-size: 10px;
  text-transform: uppercase;
}

/* #endregion message */

/* #region homeScreen */

#homeScreen,
#homeScreen h1,
#homeScreen h3 {
  display: block;
  color: #fff;
}

#homeScreen {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100px;
  background-color: rgb(26, 12, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #000;
  border-bottom: 1px solid #000;
}

#homeScreen h1 {
  font-size: 34px;
  letter-spacing: 1.5px;
}

#homeScreen h3 {
  font-weight: 50;
  font-size: 18px;
}

/* #endregion homeScreen */

#game {
  /* #app */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 95%;
  min-width: 320px;
  min-height: 560px;
  background-color: chartreuse;
}

/* #region load */

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#load {
  position: absolute;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--loadWidth);
  height: var(--loadHeight);
  background-color: var(--loadColor);
  overflow: hidden;
}

#load :nth-child(1) {
  font-size: var(--loadFontSize);
  letter-spacing: var(--loadLetterSpacing);
}

#loadLevel {
  margin-top: var(--loadSpacing);
  width: var(--loadLevelWidth);
  height: var(--loadLevelHeight);
}

#loadLevel :nth-child(1) {
  width: 100%;
  height: 100%;
  background: var(--loadLevelColor1);
}

#loadLevel :nth-child(2) {
  margin-top: calc(0px - var(--loadLevelHeight));
  width: 0%;
  height: 100%;
  background: var(--loadLevelColor2);
  animation: var(--loadSpeed) linear 0s infinite normal load;
}

/* #endregion load */

/* #region panelSelectPlayer */

#panelSelectPlayer {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--panelSelectPlayerWidth);
  height: var(--panelSelectPlayerHeight);
  border: 1px solid var(--panelSelectPlayerBorderColor);
  background-color: var(--panelSelectPlayerBGC);
  overflow: hidden;
}

#panelSelectPlayerTitle {
  width: var(--panelSelectPlayerTitleWidth);
  height: var(--panelSelectPlayerTitleHeight);
  background-color: rgb(12, 12, 184);
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#panelSelectPlayerTitle h1 {
  display: none;
  /* display: block; */
  color: var(--panelSelectPlayerTitleColor);
  font-size: var(--panelSelectPlayerTitleFontSize);
}

#selectPlayer {
  display: none;
  background-color: rgb(238, 38, 38);
  width: var(--selectPlayerWidth);
  height: var(--selectPlayerHeight);
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#selectPlayerPrevious,
#selectPlayerNext {
  /* #panelSelectPlayer #selectPlayer */
  display: none;
  /* display: block; */
  font-size: var(--previousNextFontSize);
  cursor: pointer;
}

#characters {
  /* #panelSelectPlayer #selectPlayer */
  width: 100%;
  height: 100%;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 255, 0);
  overflow: hidden;
}

#characters img {
  /* #panelSelectPlayer #selectPlayer */
  display: none;
  /* display: block; */
  transition: none 0.5s ease;
}

#OK {
  font-size: var(--panelSelectPlayerFontOK);
}

#OK:hover {
  color: rgb(255, 255, 255);
}

/* #endregion panelSelectPlayer */

/* #region battleZone */

#battleZone {
  /* #app #game */
  width: 100%;
  height: 100%;
  display: none;
  /* display: grid; */
  grid-template-columns: 70% 30%;
  grid-template-rows: 40% 10% 50%;
}

#containerChallenge {
  /* #app #game #battleZone */
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 184);
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding-bottom: var(--paddingBottomChalenge);
}

#containerChallenge img {
  /* #app #game #battleZone */
  display: none;
  /* display: block; */
  height: var(--challengeHeight);
}

/* #endregion battleZone */

#speedWay {
  /* #battleZone */
  display: none;
  background-color: rgb(240, 4, 200);
  grid-column: 2/3;
  grid-row: 1/5;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  overflow: hidden;
}

#speedWay div {
  background-color: rgb(255, 255, 0);
  /* width: 50%; */
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#speedWay div img {
  height: 100%;
}

/* #endregion speedWay */

/* #region word */

#word {
  background-color: rgb(0, 255, 242);
  grid-column: 1/2;
  grid-row: 2/3;
  /* display: flex; */
  padding-left: 5px;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#word h2 {
  /* display: block; */
  font-size: 30px;
  letter-spacing: 3px;
}

/* #endregion word */

/* #region board */

#board {
  background-color: rgb(255, 0, 0);
  grid-column: 1/2;
  grid-row: 3/5;
  display: block;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerLetters {
  width: 90%;
  height: 80%;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

/* #endregion board */

/* #region keyWord */

.keyWord {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
}

.keyWord:hover {
  background-color: #20fc18;
  color: #fff;
}

/* #endregion keyWord */

/* #region @media */

@media (min-width: 800px) and (min-height: 560px) {
  :root {
    --breakPoint: 0;
  }
  #game {
    /* #app */
    width: 800px;
    height: 600px;
  }
  #battleZone {
    /* #app #game */
    grid-template-columns: 70% 30%;
    grid-template-rows: 35% 15% 50%;
  }
}

@media (max-width: 560px) {
  :root {
    --panelSelectPlayerTitleFontSize: 28px;
    --selectPlayerWidth: 80%;
  }
  #battleZone {
    /* #app #game */
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 10% 50%;
  }
}

@media (max-width: 470px) {
  :root {
    --panelSelectPlayerTitleFontSize: 24px;
    --selectPlayerWidth: 80%;
    --previousNextFontSize: 32px;
  }
}

@media (max-width: 400px) {
  :root {
    --breakPoint: 1;
    --panelSelectPlayerTitleFontSize: 21px;
    --selectPlayerWidth: 90%;
    --loadWidth: 70%;
  }
  #battleZone {
    /* #app #game */
    grid-template-columns: 100%;
    grid-template-rows: 30% 10% 20% 40%;
  }
  #board {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #speedWay {
    grid-column: 1/3;
    grid-row: 3/4;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  #speedWay div {
    height: 50%;
  }
    #word h2 {
    /* display: block; */
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (min-width: 560px) and (max-height: 400px) {
  :root {
    --breakPoint: 2;
    --panelSelectPlayerTitleFontSize: 24px;
    --selectPlayerWidth: 80%;
    --panelSelectPlayerHeight: 60%;
  }
  #game {
    /* #app */
    width: 560px;
    height: 320px;
    min-width: 560px;
    min-height: 320px;
  }
  #battleZone {
    /* #app #game */
    grid-template-columns: 70% 30%;
    grid-template-rows: 35% 15% 50%;
  }
  #speedWay div {
    height: 75px;
    width: 40%;
  }
  #speedWay div img {
    width: 100%;
  }
  .keyWord {
    font-size: 15px;
  }
  #word h2 {
    /* display: block; */
    font-size: 20px;
  }
  #containerLetters {
    height: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* #endregion @media */
