* {
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  position: static;
  float: none;
  display: none;
  box-sizing: border-box;
}

pre {
  font: normal normal;
}
